# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Emacs-generated list of backup files
auto-save-list/

# Automatic package management with MELPA
elpa/

# added by other packages
places
ido.last
.recentf
projectile-bookmarks.eld
.smex-items
amx-items
anaconda-mode/
transient/
irony/
