# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Emacs-generated list of backup files
auto-save-list/

# Automatic package management with MELPA
elpa/

# added by other packages
.last-package-update-day
.recentf
.smex-items
ac-comphist.dat
amx-items
anaconda-mode/
eshell/
ido.last
irony/
places
projectile-bookmarks.eld
projectile.cache
request/
transient/
var/
